
@{
    ViewData["Title"] = "Vinterraps_example";
    Layout = "~/Views/Shared/PatriotiskLayout_article.cshtml";
}

    <div id="sorter">
        <div class="mt-1">
            <h1 style="border-bottom: 2px solid black">Vinterraps</h1>
        </div>
        <div class="mt-4">
            <h4>Forsøgsbeskrivelse</h4>

            <p>Dette er en hjemmeside der er lavet i samarbejde med studerende fra Erhvervsakademiet Lillebælt (EAL), som et tværfagligt projekt.</p>
            <p>Formålet med projektet for Patriotisk Selskabs side, er at have en platform der kan bruges til at demonstrere de forsøgsresultater de vil komme frem til ved deres årlige event ved Bramstrup.</p>
            <p>De studerende har indviligt at arbejde med opgaven, både for at få en god forståelse for, at arbejde med reelle projekter og problemstillinger, og mulighed at at arbejde tværfagligt med andre uddannelser inden for deres rammer. </p>
        </div>
        <h4>Forsøgsoversigt</h4>
        <div class="row mt-2">
            <div class="col-md-12 col-lg-4">
                <img id="myImg" class="img-fluid article_img" onclick="imgClick()" src="/images/forsøgstabeller/Vinterraps/forsøgsopstilling.png" />
            </div>
            <div class="col-md-12 col-lg-8 ">

                <p>Dette er en hjemmeside der er lavet i samarbejde med studerende fra Erhvervsakademiet Lillebælt (EAL), som et tværfagligt projekt.</p>
                <p>Formålet med projektet for Patriotisk Selskabs side, er at have en platform der kan bruges til at demonstrere de forsøgsresultater de vil komme frem til ved deres årlige event ved Bramstrup.</p>
                <p>De studerende har indviligt at arbejde med opgaven, både for at få en god forståelse for, at arbejde med reelle projekter og problemstillinger, og mulighed at at arbejde tværfagligt med andre uddannelser inden for deres rammer. </p>
                <button class=" btn btn-sm text-success dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Historik
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">2017</a></li>
                        <li><a href="#">2016</a></li>
                    </ul>
                </button>
            </div>
        </div>

        <h4 id="vækstregulering" class="mt-4">Vækstregulering</h4>

        <div class="row mt-4">
            <div class="col col-lg-12">

                <p>Dette er en hjemmeside der er lavet i samarbejde med studerende fra Erhvervsakademiet Lillebælt (EAL), som et tværfagligt projekt.</p>
                <p>Formålet med projektet for Patriotisk Selskabs side, er at have en platform der kan bruges til at demonstrere de forsøgsresultater de vil komme frem til ved deres årlige event ved Bramstrup.</p>
                <p>De studerende har indviligt at arbejde med opgaven, både for at få en god forståelse for, at arbejde med reelle projekter og problemstillinger, og mulighed at at arbejde tværfagligt med andre uddannelser inden for deres rammer. </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-8 col-md-12">
                <img class=" img-fluid" src="/images/forsøgstabeller/Vinterraps/Udbytte_efter_vækstregulering.png" />
            </div>
            <div class="col-lg-4 col-md-12">
                <button class="btn btn-sm text-success dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Historik
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">2017</a></li>
                        <li><a href="#">2016</a></li>
                    </ul>
                </button>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-8 col-md-12">
                <img class="img-fluid" src="/images/forsøgstabeller/Vinterraps/Olie_i_rent_frø.png" />
            </div>
            <div class="col-lg-4 col-md-12">
                <button class=" btn btn-sm text-success dropdown mt-3">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Historik
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">2017</a></li>
                        <li><a href="#">2016</a></li>
                    </ul>
                </button>
            </div>
        </div>
    </div>
    <h6 class="mt-4">Sprøjtetidspunkt</h6>
    <div class="row">
        <div class="col-lg-4 col-md-12">
            <img class="img-fluid" src="/images/forsøgstabeller/Vinterraps/sprøjtetidspunkt.png" />
        </div>
        <div class="col-lg-8 col-md-12">

            <p>Dette er en hjemmeside der er lavet i samarbejde med studerende fra Erhvervsakademiet Lillebælt (EAL), som et tværfagligt projekt.</p>
            <p>Formålet med projektet for Patriotisk Selskabs side, er at have en platform der kan bruges til at demonstrere de forsøgsresultater de vil komme frem til ved deres årlige event ved Bramstrup.</p>
            <p>De studerende har indviligt at arbejde med opgaven, både for at få en god forståelse for, at arbejde med reelle projekter og problemstillinger, og mulighed at at arbejde tværfagligt med andre uddannelser inden for deres rammer. </p>
        </div>
    </div>
    <div class="row mt-4" id="økonomi">
        <h4 class="col-12">Økonomi</h4>
        <div class="col-12 ">

            <p>Dette er en hjemmeside der er lavet i samarbejde med studerende fra Erhvervsakademiet Lillebælt (EAL), som et tværfagligt projekt.</p>
            <p>Formålet med projektet for Patriotisk Selskabs side, er at have en platform der kan bruges til at demonstrere de forsøgsresultater de vil komme frem til ved deres årlige event ved Bramstrup.</p>
            <p>De studerende har indviligt at arbejde med opgaven, både for at få en god forståelse for, at arbejde med reelle projekter og problemstillinger, og mulighed at at arbejde tværfagligt med andre uddannelser inden for deres rammer. </p>
        </div>
        <div class="col-12">
            <img class="img-fluid" src="/images/forsøgstabeller/Vinterraps/Økonomi_tabel.png" />
        </div>
    </div>
    <div class="row mt-4" id="konklusion"></div>
    <h4>Konklusion</h4>
    <div>

        <p>Dette er en hjemmeside der er lavet i samarbejde med studerende fra Erhvervsakademiet Lillebælt (EAL), som et tværfagligt projekt.</p>
        <p>Formålet med projektet for Patriotisk Selskabs side, er at have en platform der kan bruges til at demonstrere de forsøgsresultater de vil komme frem til ved deres årlige event ved Bramstrup.</p>
        <p>De studerende har indviligt at arbejde med opgaven, både for at få en god forståelse for, at arbejde med reelle projekter og problemstillinger, og mulighed at at arbejde tværfagligt med andre uddannelser inden for deres rammer. </p>
    </div>

 <!-- The Modal -->
<div id="myModal" class="modal">

    <!-- The Close Button -->
    <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img01">

    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
</div>


<script>
    function imgClick() {

        // Get the modal
        var modal = document.getElementById('myModal');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById('myImg');
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");

        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
    }
</script>
