
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/PatriotiskLayout_Admin.cshtml";
}

<div class="row mt-2">
    <div class="col-lg-12 rounded box-background">
        <h1>Admin</h1>
    </div>
</div>
