.active {
    background-color: #338D57;
}

.img-article {
    height: 30vh;
}

<<<<<<< HEAD
.menu.img {
    margin: 10px;
    padding: 25px;
}

.fade {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
=======
>>>>>>> dd8015d8e53814d677c286cf88d09b03529d5140

    .fade:hover {
        opacity: 0;
    }

.bootstrap-vertical-nav {
    background-color: white;
}

.card-title {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.center-cropped {
<<<<<<< HEAD
    width: 256px;
    height: 172px;
=======
    max-width: 300px;
>>>>>>> dd8015d8e53814d677c286cf88d09b03529d5140
    background-position: center center;
    background-repeat: no-repeat;
    padding: 5px;
}

.box-background {
    background-color: white;
}
<<<<<<< HEAD
=======
.container-fluid {
}
>>>>>>> dd8015d8e53814d677c286cf88d09b03529d5140
