.active {
    border-bottom-style: solid;
    border-bottom-color: #000000;
}
.img-article{
    height:30vh;
}
.card {
    margin: 30px;
    padding: 0;
}

.bootstrap-vertical-nav{
    background-color: white;
}