
<footer>
    <div class="row rounded box-background mt-2 hidden-sm-down" style="font-size:12px">
        <div class="col col-4 mt-2">
            <div class="row ">
                <div class="col col-6">
                    <a href="https://maps.google.com/maps?q=Patriotisk+Selskab,+%C3%98rb%C3%A6kvej+276,+Odense,+Denmark&hl=en&ie=UTF8&sll=55.401,10.390406&sspn=0.055268,0.093899&oq=Pat,+%C3%98rb%C3%A6kvej+276,+Odense,+Denmark&hq=Patriotisk+Selskab,&hnear=%C3%98rb%C3%A6kvej+276,+5220+Odense,+Odense+S%C3%98,+Denmark&t=m&z=17&iwloc=A"><img class="img-fluid" src="images/footer map pic.png" /></a>
                </div>
                <div class="col col-6">
                    <h6>Patriotisk Selskab</h6>
                    <p>
                        Ørbækvej 276 <br />5220 Odense SØ<br />
                        <a href="https://maps.google.com/maps?q=Patriotisk+Selskab,+%C3%98rb%C3%A6kvej+276,+Odense,+Denmark&hl=en&ie=UTF8&sll=55.401,10.390406&sspn=0.055268,0.093899&oq=Pat,+%C3%98rb%C3%A6kvej+276,+Odense,+Denmark&hq=Patriotisk+Selskab,&hnear=%C3%98rb%C3%A6kvej+276,+5220+Odense,+Odense+S%C3%98,+Denmark&t=m&z=17&iwloc=A">Find os på Google Maps</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col col-3 mt-2">

            <h6>Kontakt os</h6>
            <p>
                Tlf. +45 6315 5400<br />
                Fax. +45 6593 2015<br />
                E-mail: patriotisk@patriotisk.dk
            </p>

        </div>
        <div class="col col-3 mt-2">

            <h6>Åbningstider</h6>
            <p>
                Kontoret er åbent:<br />
                Mandag - torsdag: kl. 8.00-16.00<br />
                Fredag: kl. 8.00-15.30
            </p>
        </div>
        <div class="col col-2 mt-2">
            <a href="http://patriotisk.dk/"><img src="~/images/footer logo.png" class="img-fluid" /> </a>
        </div>

    </div>
</footer>