@{
    ViewData["Title"] = "Videoes";
    Layout = "~/Views/Shared/PatriotiskLayout.cshtml";
}

<p>Se højdepunkterne fra sidste års arrangement her:</p>
<h2>Videoer</h2>
<h4>Åben forsøgsmark 13. og 14. juni 2017</h4>
<p>Se højdepunkterne fra sidste års arrangement her:</p>
<video width="640" height="460" controls>
    <source src="~/Videos/Åben forsøgsmark på Bramstrup 2016 - highlights.mp4" type="video/mp4">
</video>
