
@{
    ViewData["Title"] = "AddData";
    Layout = "~/Views/Shared/PatriotiskLayout_Admin.cshtml";
}

    <h3>Indtast data</h3>
    <form>
        <div class="form-group">
            <label for="inputGraphName">Grafnavn</label>
            <input class="form-control" id="inputGraphId" aria-describedby="graphHelp" placeholder="Indtast grafnavn">
        </div>
        <div class="form-group">
            <label for="graphvertinput">Graftekst vertikal</label>
            <input class="form-control" id="inputgraphvert" placeholder="Graftekst vertical">
        </div>
        <div class="form-group">
            <label for="graphorzinput">Graftekst horizontal</label>
            <input class="form-control" id="graphhorz" placeholder="Graftekst horizontal">
        </div>
        <h4>Tabel</h4>
        
        <div id="dynamicTable">
            Antal rækker:<br>
            <input type="text" id="rows"><br>
            Antal kolonner:<br>
            <input type="text" id="columns">
            <input type="button" id="createTable" value="Klik for at oprette tabel" onclick="setupTable()">
        </div>
        <div class="form-group">
            <br />
            <H4>Upload billede</H4>
            <input type="file" class="form-control-file" id="pictureUploadId" aria-describedby="fileHelp">
            <small id="fileHelp" class="form-text text-muted">Vælg billede der skal gemmes sammen med forsøget.</small>
        </div>
        <button type="submit" class="btn btn-primary">Gem data</button>
    </form>